<component name="libraryTable">
  <library name="springMVC">
    <CLASSES>
      <root url="file://$PROJECT_DIR$" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/out/artifacts/springMVC_Web_exploded/src/main/java" />
      <root url="file://$PROJECT_DIR$/springmvcdemo01/src/main/java" />
    </SOURCES>
  </library>
</component>