<component name="ArtifactManager">
  <artifact type="exploded-war" name="springMVC">
    <output-path>$PROJECT_DIR$/out/artifacts/springMVC</output-path>
    <root id="root">
      <element id="archive" name="springMVC.jar">
        <element id="module-output" name="springMVC" />
      </element>
    </root>
  </artifact>
</component>